<div class="message">
  <div class="msg-header">
    <% if(locals.isMember){ %>
    <span class="msg-author"><%= message.username %></span>
    <span class="msg-timestamp"
      ><%= message.created_at.toLocaleString() %></span
    >
    <% } else { %>
    <span class="msg-author censored">*****</span>
    <span class="msg-timestamp censored">*****</span>
    <% } %>
  </div>

  <div class="msg-content">
    <h3 class="msg-title"><%= message.title %></h3>
    <p class="msg-body"><%= message.message %></p>
  </div>

  <% if(locals.isAdmin){ %>
  <form
    action="/<%= message.message_id %>/delete"
    method="post"
    class="delete-form"
  >
    <button
      type="submit"
      class="btn-delete"
      onclick="return confirm('Are you sure you want to delete this message?');"
    >
      Delete message
    </button>
  </form>
  <% } %>
</div>
